.gradient-basil {
    background-image: linear-gradient(90deg, rgba(251,255,0,1) 0%, rgba(255,91,240,1) 100%);
}

.gradient-basilinvert {
    background-image: linear-gradient(90deg, rgba(255,91,240,1) 0%, rgba(251,255,0,1) 100%);
}

.gradient-gangnamstyle {
    background-image: linear-gradient(90deg, #da2c2c 40%, #d1095c 60%);
}

.gradient-cdn {
    background-image: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
}

.gradient-familyguyhouse {
    background-image: linear-gradient(90deg, rgba(0,255,255,1) 50%, rgba(255,255,0,1) 50%);
}

.gradient-chutoy {
    background-image: linear-gradient(90deg, #a1005b 40%, #811aa5 60%);
}