body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@font-face {
    font-family: 'CyberpunkWaifus';
    src: url('/fonts/CyberpunkWaifus.ttf');
}

.content {
    margin-left: 0.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content::-webkit-scrollbar {
    display: none;
}

.textText {
    text-align: center;
    font-family: CyberpunkWaifus;
    font-size: 2vh;
    margin-bottom: 0;
}

.hrefText {
    text-align: center;
    font-family: CyberpunkWaifus;
    font-size: 2vh;
    margin-bottom: 0;
}

.hrefhiddenText {
    text-align: center;
    font-family: CyberpunkWaifus;
    font-size: 2vh;
    margin-bottom: 0;
    text-decoration: none;
    color: white;
}

.thoughts {
    width: 120vh;
    display: flex;
    flex-direction: column;
    height: auto;
}

.disclaimer {
    text-align: center;
    font-family: CyberpunkWaifus;
    font-size: 2.5vh;
    margin-bottom: 0;
}

.thoughtText {
    text-align: start;
    font-family: CyberpunkWaifus;
    font-size: 2vh;
    margin-bottom: 0;
    color: white;
}

.responseText {
    text-align: end;
    font-family: CyberpunkWaifus;
    font-size: 2vh;
    margin-bottom: 0;
    color: white;
}