@font-face {
  font-family: "CyberpunkWaifus";
  src: url("/fonts/CyberpunkWaifus.ttf");
}
@font-face {
  font-family: "rzpix";
  src: url("/fonts/rzpix.ttf");
}
@font-face {
  font-family: "Bombardier";
  src: url("/fonts/Bombardier.ttf");
}
@font-face {
  font-family: "RiskofRainSquare";
  src: url("/fonts/RiskofRainSquare.ttf");
}
.sideContent {
  top: 0;
  height: 80%;
  width: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
  margin-top: 1rem;
  z-index: 3;
  gap: 0.5rem;
  position: fixed;
}

.sideBox {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: var(--list-body-font-size);
  line-height: 1;
  border-image-source: url(../img/sidebar.png);
  border-image-slice: fill 14 24 14 36;
  border-image-width: 7px 12px 7px 18px;
  border-image-repeat: stretch round;
  border-image-outset: 0 0 0 6px;
  position: relative;
  width: 10.8rem;
  height: 3rem;
  text-decoration: none;
  cursor: default;
}

.sideBox:hover::after {
  content: "";
  display: block;
  pointer-events: none;
  border: 1px solid #91f4eb;
  position: absolute;
  inset: 3px 8px 4px 7px;
}

.sideBox .base:hover {
  content: "WIP";
}

.sideBox .base {
  display: none;
}

.sideBox:hover .based {
  display: none;
}

.sideBox:hover .base {
  display: inline;
}

.sideText {
  padding-top: 0.44rem;
  padding-left: 1rem;
  font-size: 1.7rem;
  font-family: "RiskofRainSquare";
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.heresideText {
  padding-top: 0.44rem;
  padding-left: 1rem;
  font-size: 1.7rem;
  font-family: "RiskofRainSquare";
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 0 10px #5a8f5a;
}

body {
  background-color: #201f2d;
}

.bg-image {
  background-size: cover;
  background-repeat: repeat;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */ /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */ /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Universal support since 2021   */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
  animation: bannermove 60s linear infinite;
}

.bg-image-2 {
  background-size: cover;
  background-repeat: repeat;
  position: fixed;
  left: 100%;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */ /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */ /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Universal support since 2021   */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
  animation: bannermove 60s linear infinite;
}

@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.leftpanel {
  height: 55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.leftpanel img {
  width: auto;
  height: 44rem;
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */ /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */ /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Universal support since 2021   */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}

.lefttitle {
  top: 8.5rem;
  left: 5.6rem;
  position: absolute;
  font-family: Bombardier;
  font-size: 3.6rem;
  line-height: 3.5rem;
  color: white;
}

.lefttext {
  top: 12rem;
  left: 3.4rem;
  position: absolute;
  font-family: rzpix;
  font-size: 1.47rem;
  line-height: 1.9rem;
  color: white;
}

.thankstext {
  top: 24rem;
  left: 3.4rem;
  position: absolute;
  font-family: rzpix;
  font-size: 1.47rem;
  line-height: 1.9rem;
  color: white;
}

.rightpanel {
  height: 55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.rightpanel img {
  width: auto;
  height: 44rem;
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */ /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */ /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Universal support since 2021   */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}

.righttitle {
  top: 9.8rem;
  left: 8.3rem;
  position: absolute;
  font-family: RiskofRainSquare;
  font-size: 2.3rem;
  line-height: 3.5rem;
  color: white;
}

.righttext {
  top: 13rem;
  left: 8.3rem;
  position: absolute;
  font-family: RiskofRainSquare;
  font-size: 1.27rem;
  line-height: 1.7rem;
  color: white;
}

.righttext span {
  font-size: 1.12rem;
}

.righttext a {
  font-size: 1.12rem;
  text-decoration: none;
}/*# sourceMappingURL=stylesservers.css.map */