@font-face {
  font-family: "CyberpunkWaifus";
  src: url("/fonts/CyberpunkWaifus.ttf");
}
@font-face {
  font-family: "rzpix";
  src: url("/fonts/rzpix.ttf");
}
@font-face {
  font-family: "Bombardier";
  src: url("/fonts/Bombardier.ttf");
}
@font-face {
  font-family: "RiskofRainSquare";
  src: url("/fonts/RiskofRainSquare.ttf");
}
.sideContent {
  height: 80%;
  width: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 6rem;
  margin-top: 1rem;
  z-index: 3;
  gap: 1rem;
}

.sideBox {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: var(--list-body-font-size);
  line-height: 1;
  border-image-source: url(../img/sidebar.png);
  border-image-slice: fill 14 24 14 36;
  border-image-width: 7px 12px 7px 18px;
  border-image-repeat: stretch round;
  border-image-outset: 0 0 0 6px;
  position: relative;
  width: 17.8rem;
  height: 4rem;
  text-decoration: none;
  cursor: default;
}

.sideBox:hover::after {
  content: "";
  display: block;
  pointer-events: none;
  border: 1px solid #91f4eb;
  position: absolute;
  inset: 3px 8px 4px 7px;
}

.sideBox .base:hover {
  content: "WIP";
}

.sideBox .base {
  display: none;
}

.sideBox:hover .based {
  display: none;
}

.sideBox:hover .base {
  display: inline;
}

.sideText {
  padding-top: 0.1rem;
  padding-left: 1.5rem;
  font-size: 2.9rem;
  font-family: "RiskofRainSquare";
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.heresideText {
  padding-top: 0.1rem;
  padding-left: 1.5rem;
  font-size: 2.9rem;
  font-family: "RiskofRainSquare";
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 0 10px #5a8f5a;
}

body {
  background-color: #201f2d;
}

.bg-image {
  background-size: cover;
  background-repeat: repeat;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */ /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */ /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Universal support since 2021   */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
  animation: bannermove 60s linear infinite;
}

.bg-image-2 {
  background-size: cover;
  background-repeat: repeat;
  position: fixed;
  left: 100%;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */ /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */ /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Universal support since 2021   */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
  animation: bannermove 60s linear infinite;
}

@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.titlePanel {
  height: 7rem;
  width: auto;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  border-style: solid;
  border-width: 0.3rem;
  border-color: #424757;
  border-radius: 0.5rem;
  background-color: #31384b;
  box-shadow: 0 0 #18191d;
}

.titleText {
  font-size: 6rem;
  font-family: "Bombardier";
  text-align: center;
  color: #969697;
  text-shadow: 3px 0 #635a70;
  text-decoration: none;
}

.titleText:hover {
  color: #e2d8d4;
  text-shadow: 3px 0 #b6a8b1;
}

.titlePanel:hover {
  border-color: #8df6e8;
  background-color: #516270;
}

.content {
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: baseline;
  padding-top: 1rem;
  line-height: normal;
  gap: 1rem;
}

.mainContent {
  top: 0;
  left: 0;
  height: 100rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  gap: 1rem;
  padding-top: 1rem;
  position: fixed;
}

.mainPanel {
  height: auto;
  width: 65%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-style: solid;
  border-width: 0.3rem;
  border-color: #415465;
  border-radius: 0.5rem;
  background-color: rgba(55, 67, 91, 0.8);
}

.serverPanel {
  height: auto;
  width: 58%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-style: solid;
  border-width: 0.3rem;
  border-color: #415465;
  border-radius: 0.5rem;
  background-color: rgba(55, 67, 91, 0.8);
}

.headerText {
  font-size: 3rem;
  font-weight: bold;
  font-family: "rzpix";
  text-align: left;
  line-height: normal;
  color: #ffffff;
  text-decoration: none;
}

.textText {
  font-size: 2.5rem;
  font-family: "rzpix";
  text-align: left;
  line-height: normal;
  color: #ffffff;
  text-decoration: none;
}

.serverText {
  font-size: 2rem;
  font-family: "rzpix";
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.connectText {
  font-size: 1.5rem;
  font-family: "rzpix";
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}/*# sourceMappingURL=stylesservers.css.map */